
/* sidebar top stories/recommended colours */
.sidebar-item .twelve.columns h6.headline a {
    color: #276E9C !important;
}

.sidebar-item .twelve.columns h6.headline a:visited {
    color: #aaa !important;
}

/* meta username and tags in post */
.meta-info.display-name a {
    color: #f46532;
}

.meta .text-upper.mrs {
    color: #72a442;
    font-style: italic;
}

/* overall (links, etc) */
a, a:focus, a:hover, .link, .link:focus, .link:hover, .maincolor, .maincolor-hover:hover {
    color: #276E9C;
}