/* tweak sidebar colours, sizes */
.row .row.sidebar-item {
    margin: 0 -18px 8px 0;
}

.sidebar-item .twelve.columns {
    padding: 0;
}

.sidebar-item .twelve.columns h6.headline {
    font-size: 12px;
    margin: 0;
    color: inherit;
}

/* if it's promoted content, just make it smaller and the content resizes */
.sidebar-content .recommended-container {
    width: 186px;
}

.sidebar-content .fade-cover {
    width: 186px;
}

.sidebar-content .fade-cover,.sidebar-content .fade-cover:before {
    background: none transparent;
}


/* bigger avatars, bigger username, tag and date text in post top-meta */
.top-meta.meta-avatar.meta-content .media .img {
    top: -4px;
}

.top-meta.meta-avatar img.avatar {
    height: 50px! important;
    width: 50px! important;
}

.top-meta.meta-avatar .media .img {
    background-color: #f5f5f5;
}

/* larger text for tag,username,date in articles only */
.top-meta.meta-avatar .meta .text-micro {
    font-size: inherit;
}
    
/* post styles */
.post-wrapper .frontpage-item p {
    top: 0 !important;
}

.post-wrapper .frontpage-item p.has-media.media-640 {
    margin-top: 8px;
}

.post-wrapper .frontpage-item p.has-media.media-300 {
    margin: 8px 75px 0 0;
    float: left
}

.post-wrapper .frontpage-item .top-meta {
    margin: 12px 0 8px 0;
}

/* new discussion format */
.f_webchats_on .reply .top-meta .author .avatar,
.f_webchats_on .replyform .top-meta .author .avatar {
    height: 40px;
    width: 40px;
}

.f_webchats_on .reply .top-meta .author .img,
.f_webchats_on .replyform .top-meta .author .img {
    margin-top: -1px;
}

.f_webchats_on .hovercard .dropdown-alt .avatar {
    height: 64px !important;
    width: 64px!important;
    margin-right: 0px;
}

.img-border.border-color-main:after {
    border: 0
}

.f_webchats_on .avatar-line .avatar {
    width: 40px;
    height: 40px;
}

.replies .reply .ptm.clear-both {
    clear: none;
    height: 40px;
}
    
/* add a bit of height to the blog description block that gets partially hidden by the sidebar resize (front pages) */
.blog-description.left-behind {
    height: 76px;
}

.blog-description.left-behind a {
    font-size: 12px;
}

/* gear icon for options */
.option-gear img {
    display: inline-block;
    vertical-align: middle;
    margin-top: -2px;
}

/* clearers */
.clear-both, .clear-space {
    clear: both;
}

.clear-space {
    margin-bottom: 10px;
}

/* options popup */
.oppo-options {
    background-color: #333;
    border: 1px solid #666;
    border-radius: 5px;
    position: absolute;
    display: none;
    padding: 15px 20px;
    width: 300px;
    box-shadow: 0 0 5px 5px #333;
    z-index: 2;
}

.oppo-options ul {
    margin: 0 0 16px 0;    
}

.oppo-options ul li {
    list-style: none outside none;
    padding: 0;    
}

.oppo-options ul li input {
    margin: 5px 8px 5px 0;
}

.oppo-options ul li label {
    display: inline;
    margin-right: 5px;
}

.oppo-options h5,
.oppo-options ul li label {
    color: #ddd;
}

.oppo-options h5 {
    margin-top: 0;
    margin-bottom: 0.25em;
}

.oppo-options .cancel {
    float: left;
}

.oppo-options .save {
    float: right;
}

.oppo-options .colours {
    display: inline-block;
    height: 12px;
    width: 18px;
    margin: -2px 2px 0 0;
    vertical-align: middle;
}

label .colours:first-child {
    margin-left: 15px;
}

.colours.orange {
    background-color: #f46532;
}

.colours.green {
    background-color: #72a442;
}

.colours.blue {
    background-color: #276E9C;
}