.sidebar-item .twelve.columns h6.headline {
    font-size: 14px;
}

/* if it's promoted content, just make it smaller and the content resizes */
.sidebar-content .recommended-container {
    width: 226px !important;
}

.sidebar-content .fade-cover {
    width: 226px !important;
}